.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #111;
  color: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.house {
  color: #00ff88;
  font-weight: bold;
}

.card-body {
  padding: 10px;
  text-align: center;
  color: white;
}


.Gryffindor { color: #ae0001; }
.Slytherin { color: #2a623d; }
.Hufflepuff { color: #ecb939; }
.Ravenclaw { color: #222f5b; }