.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* 🔥 everything left */
  gap: 30px; /* space between title and links */
  background: #111;
  color: white;
  padding: 15px 30px;
}

.navbar h1 {
  margin: 0;
  font-size: 22px;
}

.navbar nav {
  display: flex;
  gap: 20px;
}

.navbar nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.navbar nav a:hover {
  color: #00ff88;
}

.active {
  border-bottom: 2px solid #00ff88;
}